<h5>
  Add an Anime
</h5>
<br>
<div class="row">
  <div class="col-md-6">
    <form [formGroup]="addAnimeForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="col-sm-4">Gender </label>
        <select class="col-sm-8" formControlName="gender" required>
          <option *ngFor="let gender of genderOptions" [value]="gender">{{gender}}</option>
        </select>
      </div>
      <div class="form-group">
        <label class="col-sm-4">Name </label>
        <input class="col-sm-8" type="text" formControlName="name" required>
      </div>
      <div class="form-group">
        <label class="col-sm-4">Website </label>
        <input class="col-sm-8" type="text" formControlName="website" required>
      </div>
      <div class="form-group">
        <label class="col-sm-4">It's Finished? </label>
        <select class="col-sm-8" formControlName="isFinished" required>
          <option value="Y">Yes</option>
          <option value="N">No</option>
        </select>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" [disabled]="!addAnimeForm.valid">Submit</button>
      </div>
    </form>
  </div>
</div>

<br><br>
<button (click)="updateName()">Update Name</button>
<button (click)="goBack()">Back</button>
