<div class="main-container" [ngStyle]="footerStyles">

  <div class="header text-center">
    <app-header></app-header>
  </div>

  <div class="body-container">

    <nav class="left-body nav flex-column">
      <a class="nav-link active" routerLink="/anime-table">Anime</a>
      <a class="nav-link" routerLink="/manga-table">Manga</a>
    </nav>

    <div class ="right-body">
      <router-outlet></router-outlet>
      <div class="second-route">
        <!--<app-messages></app-messages>-->
      </div>
    </div>

  </div>

  <div class="footer"><!--"{'background-image': 'url(' + imageBackgroundParam + ')'}"-->
    <app-footer [imageBackground]="imageBackgroundParam"></app-footer>
  </div>

</div>

